.container{
    text-align:center;
    
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

*{
    image-rendering: crisp-edges;
}

.fake_img{
    display:inline-block;
    margin:5px 5px;
    padding:5px;
}